---
title: Custom Distribution
layout: guide_simple
parent: guide
category: distributions
slug: custom-distribution
---

<p>A custom distribution allows an admin user to distribute select assets to select partners. For a simpler process, consider the <%= link_to 'new distribution page', '/guides/distributions/new-distribution' %>.</p>

<ol>

  <li>
    <p>Use the advanced search form to find the products to be distributed.</p>
    <p><%= cdn_image "titleleaf-custom-distribution-advanced-search.png", alt: "" %></p>
  </li>

  <li>
    <p>In the "Distribute Assets" widget on the "Search Results" page, click the "New Distribution" button.</p>
    <p><%= cdn_image "titleleaf-custom-distribution-search-results.png", alt: "" %></p>
    <p><%= cdn_image "titleleaf-custom-distribution-widget.png", alt: "" %></p>
  </li>

  <li>
    <p>On the "New Distribution" page, set the options accordingly. For example, in the screenshot, specific individual channels have been selected and a description has been given. Important: You must click the <strong>Add</strong> button for the channel to be added to the list.</p>
    <p><%= cdn_image "titleleaf-custom-distribution-form.png", alt: "TitleLeaf: New distribution, individual channels specified" %></p>
  </li>

  <li>
    <p>Click the <em>Create</em> button. The <em>distribution template</em> that you created will result in one distribution for each channel specified.</p>
  </li>

</ol>
