---
title: Verify channel destination
layout: guide_simple
parent: guide
category: distributions
slug: verify-channel-destination
---

<p>Assets are sent through a distribution channel to either an email address or an associated <em>destination</em>. Destinations can be an FTP, SFTP, Dropbox, WebDav account or other.</p>

<p>To verify the setup of a destination, read on.</p>

<ol>

<li>
<p>Select the "Channels" item from the Distribution menu.</p>
<p><%= cdn_image "titleleaf-distribution-menu-channels-item.png", alt: "Distribution menu, Channels item" %></p>
</li>

<li>
<p>View the list of Channels. If desired, filter the list using search form at top of page.</p>
<p><%= cdn_image "titleleaf-channels-destination.png", alt: "Channels list: Destination highlighted" %></p>
</li>

<li>
<p>Click the desired "destination" link in the list of channels.</p>
<p><%= cdn_image "titleleaf-channels-destination-closeup.png", alt: "Channels list: Destination closeup" %></p>
</li>

<li>
<p>The destination page provides the account user name and password among other things. Hover your cursor over the dotted password to reveal specifics.</p>
<p><%= cdn_image "titleleaf-destination.png", alt: "TitleLeaf: Destination for ingram" %></p>
<p><%= cdn_image "titleleaf-destination-password.png", alt: "TitleLeaf: Destination for ingram, password" %></p>
</li>

</ol>
