---
title: Verify distribution channels
layout: guide_simple
parent: guide
category: distributions
slug: verify-distribution-channels
---

<p>A distribution channel encompasses the rules to follow when sending files to a wholesaler/distributor. A specific wholesaler may have multiple channels. For example, they may receive assets such as data, images, and ebooks. Each asset has it's own rule and by extension its own channel.</p>

<p>To verify the setup of channels, read on.</p>

<ol>

<li><p>Select the "Channels" item from the Distribution menu.</p>
<p><%= cdn_image "titleleaf-distribution-menu-channels-item.png", alt: "Admin: Distribution menu, Channels item" %></p>
</li>

<li>
<p>View the list of Channels. If desired, filter the list using search form at top of page.</p>
<p><%= cdn_image "titleleaf-channels.png", alt: "Channels list" %></p>
</li>

<li>
<p>View the respective channel details by clicking the "view" icon next to the channels's name. Note: The channel name itself directs the user to the edit page.</p>
<p><%= cdn_image "titleleaf-channel-list-closeup.png", alt: "Admin: Channel list, closeup of name" %></p>
<p><%= cdn_image "titleleaf-channel-list-closeup-1.png", alt: "Admin: Channel list, highlight view icon" %></p>
</li>

<li>
<p>The channel page outlines the various settings and associated channel rule.</p>
<p><%= cdn_image "titleleaf-channel-details.png", alt: "Admin: Channel show view" %></p>
</li>

</ol>

<p class="block-notice">
  To view distributions performed via a given channel, select the "Distributions" item in the "Jump to" menu.
</p>
<p><%= cdn_image "titleleaf-channel-jump-distributions.png", alt: "Admin: Channel jump-to menu, distributions item" %></p>
