---
title: View ebook distributions
layout: guide_simple
parent: guide
category: distributions
slug: view-ebook-distributions
---

<p>
  A benefit of the <%= link_to 'Distribution Groups', '/guides/distributions/distribution-groups' %>
  module is the ability to review the history of distributions performed through a given group.
  The entirety of this functionality can be accessed from the Distribution Group page.
</p>

<p>
  To access the "pdf ebooks" distribution page:
</p>

<ol>
  <li>
    <p>
      Navigate to the <em>Distribution Groups</em> module (Admin > Distribution > Groups).
    </p>
  </li>
  <li>
    <p>
      Optionally, filter the list by populating the "Name" field with "pdf ebooks", then click the "Search" button.
    </p>
    <p>
      <%= cdn_image "titleleaf-distribution-groups-search-pdf-ebooks.png",
        alt: "TitleLeaf: Search distribution groups for 'pdfs ebooks' name" %>
    </p>
  </li>
  <li>
    <p>
      Click the "view" icon of the "pdf ebooks" group.
    </p>
    <p>
      <%= cdn_image "titleleaf-distribution-groups-show-pdf-ebooks.png",
        alt: "TitleLeaf: Distribution group page for 'pdf ebooks'" %>
    </p>
  </li>
</ol>

<h3>
  Highlights of the Distribution Group page
</h3>

<ul>
  <li>
    <p>
      Click the "Show All" link in the "Distribution Templates" section to
      view a list of all distribution templates created via the current group.
    </p>
    <p>
      <%= cdn_image "titleleaf-distribution-templates-search-pdf-ebooks.png",
        alt: "Admin: Distribution templates created via 'pdf ebooks' group" %>
    </p>
  </li>

  <li>
    <p>
      Click the "Distributions" item in the "Jump to" menu to
      view a list of all individual distributions created via the current group.
    </p>
    <p>
      <%= cdn_image "titleleaf-distribution-groups-show-jump-to.png",
        alt: "Admin: Distribution jump to menu" %>
    </p>
    <p>
      <%= cdn_image "titleleaf-distributions-search-pdf-ebooks.png",
        alt: "Admin: Individual distributions created via 'pdf ebooks' group" %>
    </p>
  </li>
</ul>
