<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TitleLeaf</title>

    <!-- Fonts -->
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' %>

    <!-- Styles -->
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <main role="main">
      <%= yield %>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
