<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title(current_page.data.title) %></title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/zmb3xsh.css">

    <!-- Styles -->
    <%= stylesheet_link_tag 'main' %>

    <!-- Other -->
    <%= partial "partials/analytics" %>
  </head>
  <body class="<%= body_class %>">
    <%= partial "partials/header" %>
    <main>
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
  </body>
</html>
