---
title: Package assets
layout: guide_simple
parent: guide
category: product-catalog
slug: package-assets
---

<p>TitleLeaf's <em>Package</em> module permits users to package/export a wide variety of assets associated with products, be they ebooks, images or data. In the following example, I will show you how to package the PDF ebooks associated to the PDF formats of a select number of products.</p>

<ol>

<li>
<p>Find the desired products using the <a href="/guides/product-catalog/advanced-search">advanced search form</a>. For simplicity, I've found an array of PDF product formats that contain the keyword <em>soccer</em>. A more common search is upcoming products.</p>
<p><%= cdn_image "titleleaf-search-results-pdfs.png", alt: "Titleleaf Search Results Pdfs" %></p>
</li>

<li>
<p>Go to the <em>Package Assets</em> form in the right sidebar of the search results.</p>
<p><%= cdn_image "titleleaf-search-results-package-assets.png", alt: "Titleleaf Search Results Package Assets" %></p>
<p>In this example, I want to package the ebooks of the given product formats. Therefore, I specify <em>Asset Type</em> as <em>Product Format Ebook</em> and <em>Select Asset By</em> as <em>ISBN</em>.</p>
<p><%= cdn_image "titleleaf-search-results-package-ebooks.png", alt: "Titleleaf Search Results Package Ebooks" %></p>
</li>

<li>
<p>Click the <em>New Package</em> button after selecting your options. You will be taken to the <em>Package Assets</em> form where you can verify your options.</p>
<p><%= cdn_image "titleleaf-package-ebooks-by-isbn.png", alt: "Titleleaf Package Ebooks By Isbn" %></p>
</li>

<li>
<p>After verification, click the <em>Create</em> button at the bottom of the page.</p>
<p><%= cdn_image "titleleaf-package-assets-button.png", alt: "Titleleaf Package Assets Button" %></p>
</li>

<li>
<p>You will be taken to the package page. The message indicates that the package is processing.</p>
<p><%= cdn_image "titleleaf-package-processing-ebooks.png", alt: "Titleleaf Package Processing Ebooks" %></p>
<p>Note: Depending on the number and size of assets being packaged, it could take up to 10 minutes to process your request. Upon completion, you will see a download link.</p>
</li>

<li>
<p>Click the link to download the assets to your local computer.</p>
<p><%= cdn_image "titleleaf-package-download-ebooks.png", alt: "Titleleaf Package Download Ebooks" %></p>
</li>

</ol>
