---
title: Create customer
layout: guide_simple
parent: guide
category: reps
slug: create-customer
---

<p>As a Sales Rep, you have the ability to create new customers. To do so, follow the procedure below:</p>

<ol>

  <li>
    <p>Sign-in.</p>
    <p><%= cdn_image 'sign-in-link.png', alt: 'Sign-in link' %></p>
    <p><%= cdn_image 'complete-sign-in-form.png', alt: 'Complete sign-in form' %></p>
  </li>

  <li>
    <p>Click the newly-displayed <em>Sales</em> link. Note: You must have <em>Sales Rep</em> privileges to view this link. Contact the Publisher's Sales Manager if the link is not present.</p>
    <p><%= cdn_image 'sales-link.png', alt: 'Sales link' %></p>
  </li>

  <li>
    <p>Click the <em>New Customer</em> link on the Sales Team dashboard.</p>
    <p><%= cdn_image 'new-customer-link.png', alt: 'New customer link' %></p>
  </li>

  <li>
    <p>Complete the new customer form, then click <em>Submit</em>.</p>
    <p><%= cdn_image 'new-customer-form.png', alt: 'New customer form' %></p>
    <p><%= cdn_image 'completed-new-customer-form.png', alt: 'Completed new customer form' %></p>
    <p>Note: When the <em>Skip Confirmation</em> checkbox is checked, the new customer is not sent a confirmation email; their account is automatically activated.</p>
  </li>

  <li>
    <p>If the customer was successfully created, you will see a confirmation message. If not, you will see an error message indicating which fields were not appropriately completed.</p>
    <p><%= cdn_image 'confirmation-customer-was-successfully-created.png', alt: 'Confirmation: Customer was successfully created' %></p>
  </li>

</ol>
