<div class="row" id="faqs">
  <div class="col-full">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-left">

    <h4>What does Design Mockup encompass?</h4>
    <p>Design mockup (aka, realization) equates to the creation of the design template in an Adobe-PhotoShop-compatible format and the transformation of that design into representative HTML/CSS/JS files. Depending on the complexity, the design encompasses approximately 5 layouts.</p>

    <h4>What does Design Implementation encompass?</h4>
    <p>Design implementation is the process of applying the HTML/CSS/JS design template files (created in the Design Realization/Mockup phase) to each page within the TitleLeaf public-facing site.</p>

    <h4>In what format do I provide the design?</h4>
    <p>For either the <em>Self-Starter</em> or <em>Collaborative</em> package, you'll provide the design of a minimum of four pages: 1) Home page, 2) List page, 3) Set page, 4) Title page. Design files must be communicated in layered PhotoShop files and HTML/CSS/JS files.</p>

    <h4>What's the Custom Theme design process?</h4>
    <p>
      Based on materials and directions that you provide, we will first deliver
      an initial design in JPG format. At least one design iteration/revision
      is offered if the initial design is not accepted. The number of revisions
      is dictated by your selected setup plan. Upon you accepting the design, we
      will then convert to HTML/CSS/JS and implement in the TitleLeaf
      application.
    </p>

    <h4>Are custom setup plans available?</h4>
    <p>Yes, custom setup plans are <%= contact_link name: 'available upon request' %> to accommodate any range of collaboration.</p>

  </div>

  <div class="col-right">

    <h4>Is technical support included?</h4>
    <p>
      Up to one hour of technical support is included with any monthly
      subscription plan for the first year of the plan. A
      <%= link_to 'guide', '/guide' %>
      is also available for self-learners.
    </p>

    <h4>Can I request design changes after launch?</h4>
    <p>
      Yes. Adjustments can be made to the design after launch by
      <%= link_to 'scheduling the work', '/guides/knowledge-base/can-i-request-site-changes' %>
      with the development team. Our current hourly rate for "front-end" design work is <%= data.config.hourly_rate %>.
    </p>

    <h4>Can I request data assistance in the future?</h4>
    <p>Yes. Beyond technical support, our team does provide data management assistance and training at an hourly rate of <%= data.config.hourly_rate %>.</p>

    <h4>What's the data setup process?</h4>
    <p>You deliver the data in any format available. We will enter this data into the templates and import into TitleLeaf. From there, both of us can test/verify the data before launching the live site.</p>

    <h4>After setup, do you maintain the data?</h4>
    <p>No, it is your responsibility to maintain the data after the initial setup. TitleLeaf has a thorough administrative interface that allows you to adjust the content on an ongoing basis.</p>

    <h4>Do you offer discounts for start-ups?</h4>
    <p>Yes, special setup pricing is available to organizations with less than 5 full-time employees.</p>

  </div>
</div>
