<header>
  <div class="col-left">
    <%= link_to image_tag('logo.png', alt: data.config.company_name), '/index.html' %>
  </div>
  <div class="col-right">
    <ul id="menu">
      <li class="toggler">
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="separator"><%= link_to 'Features', '/features.html' %></li>
      <li><%= link_to 'Pricing', '/pricing.html' %></li>
      <li><%= link_to 'Guide', 'http://guide.titleleaf.com' %></li>
      <li><%= link_to 'Contact', '/contact.html', class: 'button' %></li>
    </ul>
  </div>
</header>
