<header>
  <div class="col-left">
    <%= link_to image_tag('logo.png', alt: data.config.company_name), '/' %>
  </div>
  <div class="col-right">
    <ul id="menu">
      <li class="toggler">
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="separator"><%= link_to 'Features', '/features' %></li>
      <li><%= pricing_link name: 'Pricing' %></li>
      <li><%= service_link name: 'Service' %></li>
      <li><%= guide_link name: 'Guide' %></li>
      <li><%= contact_link class: 'button' %></li>
    </ul>
  </div>
</header>
