<div class="item">
  <ul class="pricing-table">
    <li class="title"><%= size %> GB</li>
    <li class="price"><%= price %> <small>/month</small></li>
    <li class="description">Sufficient space for <%= products %> with multiple downloadable digital products per title.</li>
    <li class="bullet-item"><strong><%= size %> GB</strong> of file storage</li>
    <li class="subscribe">
      <%= signup_link class: "button small" %>
    </li>
  </ul>
</div>
