<div class="item">
  <ul class="pricing-table">
    <li class="title">
      <%= pluralize(time, "Hour") %>
    </li>
    <li class="price yearly">
      <%= price_yearly %>
      <small>/month</small>
    </li>
    <li class="price monthly hide">
      <%= price_monthly %>
      <small>/month</small>
    </li>
    <li class="description yearly bullet-item">
      <strong><%= pluralize(time, "hour") %></strong>
      of service per month for 1 year
    </li>
    <li class="description monthly bullet-item hide">
      <strong><%= pluralize(time, "hour") %></strong>
      of service for 1 month
    </li>
    <li class="bullet-item">
      Access to the TitleLeaf Client Support Site
    </li>
    <li class="bullet-item">
      <% if calls.to_i > 0 %>
        <%= pluralize(calls, "scheduled call") %> per month (optional)
      <% else %>
        No monthly call
      <% end %>
    </li>
    <li class="bullet-item">
      Ticket priority:
      <strong><%= priority.titlecase %></strong>
    </li>
    <li class="subscribe">
      <%= link_to "Request Now", "/contact-service", class: "button small" %>
    </li>
  </ul>
</div>
