<div class="item">
  <ul class="pricing-table">
    <li class="title"><%= pluralize(time, "Hour") %></li>
    <li class="price">
      <%= price %>
      <small>/month</small>
    </li>
    <li class="bullet-item">Up to <strong><%= pluralize(time, "hour") %></strong> of service per month</li>
    <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
    <li class="bullet-item"><%= pluralize(calls, "scheduled call") %> per month (optional)</li>
    <li class="bullet-item">Initial ticket response in <%= pluralize(days, "business day") %></li>
    <li class="subscribe">
      <%= service_mail class: "button small",
        subject: "TitleLeaf: #{time}-Hour Service Plan Request",
        body: "Please send me a payment link to subscribe to TitleLeaf's #{time}-hour per month service plan (no commitment)" %>
    </li>
  </ul>
</div>
