---
title: Ingest accelerated reader data
layout: guide_simple
parent: guide
category: ingestions
slug: ingest-accelerated-reader-data
---

<p>When you've received quiz data from Renaissance Learning, you should update the website database. This page explains that process using a Google Doc template. Google Doc is not mandatory; you can follow the same procedure using any modern spreadsheet application (e.g. Excel) that can save data as CSV (comma-separated values).</p>

<ol>
<li><p>Open Excel data file from RenLearn.</p>
</li>
<li><p>Create a new Google Doc spreadsheet using the <em>products-renlearn</em> <%= templates_link 'template' %> (See menu item: File &gt; Make a Copy…). The required columns are: alquiznr, alsinterestlevel, alsreadlevel, alspoints, isbn.</p>

<p><%= cdn_image "google-renlearn-template.png", alt: "Google Doc: renlearn template" %></p>

<p><%= cdn_image "google-file-menu-make-a-copy.png", alt: "Google Doc: File menu, Make a copy" %></p>
</li>
<li><p>Copy/paste data from Excel to the new Google Doc file.</p>
</li>
<li><p>Once complete, download the new Google Doc file as CSV to your local computer (See menu item: File &gt; Download as &gt; Comma Separated Values). Name the local file without spaces. For example: renlearn-YYYYMMDD.csv (where YYYYMMDD represents today's date)</p>

<p><%= cdn_image "google-file-menu-download-as-csv.png", alt: "Google Doc: File menu, Download as CSV" %></p>
</li>
<li><p>Ingest the local file through the web admin UI of the titleleaf site:</p>

<p>a. Admin &gt; Ingestion &gt; New</p>

<p><%= cdn_image "titleleaf-ingestion-menu-new-item.png", alt: "Ingestion menu, new item" %></p>

<p>b. Type = Products</p>

<p>c. Attachment = renlearn-YYYYMMDD.csv</p>

<p><%= cdn_image "titleleaf-ingestion-new-renlearn.png", alt: "New ingestion, renlearn data" %></p>
</li>
</ol>
