---
title: TitleLeaf Client Support
layout: guide_simple
parent: guide
category:
slug: support
---

<p>
  TitleLeaf client support is provided via an online help desk:
  <%= link_to 'support.titleleaf.com', data.config.support_url %>.
</p>

<p>
  Note: Before creating a ticket, please consult the
  <%= link_to 'TitleLeaf guide', '/guide' %>.
  Use the search field or the help widget to find articles containing terms relevant to your situation.
</p>

<p>
  To view or comment on pre-existing tickets, log in to the support site.
</p>

<%= cdn_image "support-login-button.png", alt: "Support: Home page, Login button" %>

<p>
  Then select the appropriate option from the <em>Requests</em> dropdown menu.
</p>

<%= cdn_image "support-requests-dropdown.png", alt: "Support: Requests dropdown" %>

<p>
  Sample <em>Requests</em> page:
</p>

<%= cdn_image "support-requests.png", alt: "Support: Requests page" %>

<p>See Also:</p>
<ul>
  <li>
    <%= link_to 'Support Ticket Priority', '/guides/support-ticket-priority' %>
  </li>
  <li>
    <%= link_to 'Support Forgot Password', '/guides/support-forgot-password' %>
  </li>
</ul>
