---
title: TitleLeaf Client Support
layout: guide_simple
parent: guide
category:
slug: support
---

<p>
  TitleLeaf client support is provided via an online help desk:
  <%= link_to 'support.titleleaf.com', data.config.support_url %>.
</p>

<p>Access to the online help desk is limited to two people within an organization. If you personally do not have access, communicate your issue to the people within your organization with access. They can create a support ticket on your behalf, if necessary.</p>

<p>
  Note: Before creating a ticket, please consult the
  <%= guide_link %> and <%= wiki_link %>.
  Use the search field or the help widget to find articles containing terms
  relevant to your situation.
</p>

<p>
  To view or comment on pre-existing tickets, log in to the support site.
</p>

<%= cdn_image "support-login-button.png", alt: "Support: Home page, Login button" %>

<p>
  Then select the appropriate option from the <em>Requests</em> dropdown menu.
</p>

<%= cdn_image "support-requests-dropdown.png", alt: "Support: Requests dropdown" %>

<p>
  Sample <em>Requests</em> page:
</p>

<%= cdn_image "support-requests.png", alt: "Support: Requests page" %>

<p class="block-notice">
  The support site sends email notifications from
  <em>jira@titleleaf.atlassian.net</em> and <em>mailer@titleleaf.com</em>.
  Do not send emails to these addresses; they are unmonitored. Instead, to
  add a comment to a support ticket, click the link in the notification.
</p>

<p>See Also:</p>
<ul>
  <li>
    <%= link_to 'Support Ticket Priority', '/guides/support-ticket-priority' %>
  </li>
  <li>
    <%= link_to 'Support Forgot Password', '/guides/support-forgot-password' %>
  </li>
</ul>
