---
title: Cleanup package
layout: guide_simple
parent: guide
category: knowledge-base
slug: cleanup-package
---

<p>TitleLeaf automatically removes the files associated with a package after a specified number of days defined by the "Package Cleanup Span" setting (Admin > Management > Settings > Package):</p>

<p><%= cdn_image "titleleaf-settings-package-cleanup-span.png", alt: "TitleLeaf: Package Cleanup Span Setting" %></p>

<p>If your <a href="/guides/knowledge-base/disk-usage">disk usage is high</a>, you can consider removing package files manually. The TitleLeaf term for deleting a package files is <em>cleanup</em>. For detailed information, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the Packages list page (Admin &gt; Packages &gt; List).</p>
    <p><%= cdn_image "titleleaf-menu-management.png", alt: "TitleLeaf: Admin management menu" %></p>
  </li>

  <li>
    <p>Browse for packages with large <em>size</em> values.</p>
    <p><%= cdn_image "titleleaf-packages.png", alt: "TitleLeaf: Packages list" %></p>
</li>

  <li>
    <p>Click the <em>ID</em> link for the package that you'd like to cleanup. Note the file size of the package.</p>
     <p><%= cdn_image "titleleaf-package-size.png", alt: "TitleLeaf: Package size" %></p>
 </li>

  <li>
    <p>Click the <em>Cleanup Package</em> link in the sidebar to delete the associated package files, then confirm the action.</p>
    <p><%= cdn_image "titleleaf-package-cleanup.png", alt: "TitleLeaf: Package cleanup" %></p>
    <p><%= cdn_image "titleleaf-package-cleanup-confirm.png", alt: "TitleLeaf: Package cleanup confirm" %></p>
  </li>

  <li>
    <p>Note the <em>success</em> message and that the file size is no longer indicated.</p>
    <p><%= cdn_image "titleleaf-package-cleanup-success.png", alt: "TitleLeaf: Package cleanup success" %></p>
  </li>
</ol>
