---
title: Cleanup package
layout: guide_simple
parent: guide
category: knowledge-base
slug: cleanup-package
---

<p>Packages can consume a lot of disk space. TitleLeaf automatically removes the files associated with a package after a month. If your <a href="/guides/knowledge-base/disk-usage">disk usage is high</a>, you should do so manually. The TitleLeaf term for deleting a package files is <em>cleanup</em>. For detailed information, follow the procedure below:</p>

<ol>

  <li>
    <p>Navigate to the Packages list page (Admin &gt; Packages &gt; List).</p>
    <p><%= cdn_image "titleleaf-menu-management.png", alt: "TitleLeaf: Admin management menu" %></p>
  </li>

  <li>
    <p>Browse for packages with large <em>size</em> values.</p>
    <p><%= cdn_image "titleleaf-packages.png", alt: "TitleLeaf: Packages list" %></p>
</li>

  <li>
    <p>Click the <em>ID</em> link for the package that you'd like to cleanup. Note the file size of the package.</p>
     <p><%= cdn_image "titleleaf-package-size.png", alt: "TitleLeaf: Package size" %></p>
 </li>

  <li>
    <p>Click the <em>Cleanup Package</em> link in the sidebar to delete the associated package files.</p>
    <p><%= cdn_image "titleleaf-package-cleanup.png", alt: "TitleLeaf: Package cleanup" %></p>
  </li>

  <li>
    <p>Note the <em>success</em> message and that the file size is no longer indicated.</p>
    <p><%= cdn_image "titleleaf-package-cleanup-success.png", alt: "TitleLeaf: Package cleanup success" %></p>
  </li>
</ol>
