---
title: How do I convert print ISBNs to another format?
layout: guide_simple
parent: guide
category: knowledge-base
slug: how-do-i-convert-print-isbns-to-another-format
---

<p>It's a common situation to need the ebook ISBNs for a given list of print ISBNs (or vice versa). If the list is large enough, searching for the correlates can be quite time-consuming. Follow the procedure below to have TitleLeaf do the work for you.</p>

<ol>
  <li>
    <p>Copy the given print ISBNs.</p>
  </li>
  <li>
    <p>Go to TitleLeaf &gt; Admin &gt; Advanced search. Paste ISBNs into ISBN field.</p>
    <p><%= cdn_image 'paste-isbns-into-advanced-search-form.png', alt: 'Paste ISBNs into Advanced Search form' %></p>
  </li>
  <li>
    <p>Click "Search" button. Verify you have the expected number of products in search results.</p>
    <p><%= cdn_image 'verify-search-results.png', alt: 'Verify search results' %></p>
  </li>
  <li>
    <p>Click "New Package" button with <em>Asset Type</em> set to <em>ISBNs (csv)</em> and <em>Select Assets By</em> set to <em>ISBN</em>
</p>
    <p><%= cdn_image 'create-new-package.png', alt: 'Create new package' %></p>
  </li>
  <li>
    <p>Wait for the package to be processed.</p>
    <p><%= cdn_image 'package-processing.png', alt: 'Package processing' %></p>
    <p>Once complete, download the package by clicking the <em>zip</em> link.</p>
    <p><%= cdn_image 'package-complete.png', alt: 'Package complete' %></p>
  </li>
  <li>
    <p>Unzip downloaded package, then open enclosed file in a spreadsheet application. Refer to the ISBN columns for alternative formats.</p>
    <p><%= cdn_image 'package-isbns.png', alt: 'Package isbns' %></p>
  </li>
</ol>
