---
title: Jobs
layout: guide_simple
parent: guide
category: knowledge-base
slug: jobs
---

<p>TitleLeaf processes long-running tasks in the background. Each background process is represented by a <em>job</em> in the TitleLeaf's Admin interface.</p>

<ul>

  <li>
    <p>The <em>Jobs</em> module is accessed from the <em>Management</em> menu.</p>
    <p><%= cdn_image 'admin-management-menu.png', alt: 'Admin: Management Menu' %></p>
    <p><%= cdn_image 'jobs-list.png', alt: 'Jobs list' %></p>
  </li>

  <li>
    <p>The <em>Status</em> column displays if the job is <em>new</em> (aka, yet to be processed) or has <em>failed</em>. Note: Successfully processed jobs are removed from the list upon completion.</p>
    <p><%= cdn_image 'jobs-status.png', alt: 'Jobs status' %></p>
  </li>

  <li>
    <p>To obtain further information about a specific job, click the job ID.</p>
    <p><%= cdn_image 'job-details.png', alt: 'Job details' %></p>
  </li>

  <li>
    <p>Although not recommended, it is possible to delete jobs by clicking the <em>trash</em> icon. Upon clicking the trash icon, a confirmation window will appear. Click <em>OK</em> to proceed with the deletion.</p>
    <p><%= cdn_image 'jobs-delete.png', alt: 'Jobs delete' %></p>
  </li>

</ul>

<p>Note: If it appears that jobs are not being processed, <a href="/guides/knowledge-base/test-job-worker">test the job worker</a>.</p>
