---
title: Assign ebooks
layout: guide_simple
parent: guide
category: sales
slug: assign-ebooks
---

<p>At times you will need to provide a user with access to downloadable products that they haven't purchased directly through the ecommerce site. This is a common situation if you sell downloadable products by mail, by phone, etc. To give such customers access to their purchase, follow the steps below.</p>

<p class="block-notice">Note: PDF and Epub formats are downloadable products. Hosted ebooks (aka online resources) are not. Sales of hosted ebooks need to be forwarded to your hosted ebook provider (eg, Big Timber Media).</p>

<ol>
  <li>
    <p>Go to the main page of the User module. A link is available in the Sales menu:</p>
    <p><%= cdn_image "titleleaf-sales-menu-users-highlighted.png", alt: "Sales menu, users highlighted" %></p>
    <p><%= cdn_image "titleleaf-users.png", alt: "Users list page" %></p>
  </li>
  <li>
    <p>If the customer already has an account on the site, skip to the next step. If not, you can either direct your customer to create a user account or you can do it for them by clicking the <em>New User</em> link in the right sidebar.</p>
  </li>
  <li>
    <p>Once the customer has a user account, find the account by using the search form at the top of the User main page. Go to the User page by clicking the User's name.</p>
  </li>
  <li>
    <p>Click the <em>Assign ebooks</em> link at the top of the User page.</p>
    <p><%= cdn_image "titleleaf-user.png", alt: "TitleLeaf: User, show" %></p>
  </li>
  <li>
    <p>Enter the ISBNs of the digital products to which you'd like to give the user access. Separate multiple ISBNs with commas. Then click the <em>Submit</em> button.</p>
    <p><%= cdn_image "titleleaf-assign-ebooks.png", alt: "Assign ebooks form" %></p>
  </li>
  <li>
    <p>If the form is successfully submitted, the user will receive an email indicating that the ebooks are available for download. So that you can verify their access, the ebooks will also appear on the User page under the section <em>Assigned Ebooks</em>.</p>
    <p><%= cdn_image "titleleaf-user-message-assigned-ebooks.png", alt: "TitleLeaf: User, show, ebooks assigned" %></p>
    <p><%= cdn_image "titleleaf-user-assigned-ebooks.png", alt: "TitleLeaf: User, Assigned Ebooks section" %></p>
  </li>
</ol>
