---
title: Update tax rates
layout: guide_simple
parent: guide
category: sales
slug: update-tax-rates
---

<p>Tax rates are defined on a Postal Code basis. To update tax rates, follow the procedure below.</p>

<ol>

  <li>
    <p>Navigate to Admin &gt; Management &gt; Geography &gt; Postal Codes.</p>
    <p><%= cdn_image "titleleaf-menu-postal-codes.png", alt: "Titleleaf Menu Postal Codes" %></p>
  </li>

  <li>
    <p>Export the postal codes that are to be updated. You can export a subset by using the search form at the top of the page. In the example below, only postal codes in the state of California are selected.</p>
    <p><%= cdn_image "titleleaf-postal-codes-filtered.png", alt: "Titleleaf Postal Codes Filtered" %></p>
    <p><%= cdn_image "titleleaf-postal-codes-export.png", alt: "Titleleaf Postal Codes Export" %></p>
  </li>

  <li>
    <p>Edit the exported postal codes with a spreadsheet application and save (retaining the CSV format).</p>
    <p><%= cdn_image "excel-postal-codes.png", alt: "Excel Postal Codes" %></p>
  </li>

  <li>
    <p><a href="/guides/ingestions">Ingest</a> the edited postal codes file specifying <strong>Postal Codes</strong> as the ingestion type.</p>
    <p><%= cdn_image "titleleaf-ingestion-new-postal-codes.png", alt: "Titleleaf Ingestions New Postal Codes" %></p>
  </li>

</ol>

<p>Note: <a href="https://en.wikipedia.org/wiki/ZIP_Code">ZIP Code</a> is a US term. The more generic term, applicable to all countries and used by TitleLeaf, is Postal Code.</p>
