---
title: Change Log
layout: legal
---

<div class="row">
  <div class="col-full">
    <p>
      The following pricing reflects a discount when subscribing to both the standard
      <%= link_to 'TitleLeaf application', '/pricing' %> and the
      <%= link_to 'distribution application', '/distribution-pricing' %>.
    </p>
  </div>
</div>

<div class="row">

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Starter</li>
      <li class="price">$200 <small>/month</small>
      </li>
      <li class="description">If you are not selling digital products, this is your best option.</li>
      <li class="bullet-item">5GB File storage</li>
      <li class="subscribe">
        <%= signup_link class: "button small" %>
      </li>
    </ul>
  </div>

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Standard</li>
      <li class="price">$250 <small>/month</small>
      </li>
      <li class="description">Sufficient space for 500+ titles with multiple downloadable digital products per title.</li>
      <li class="bullet-item">15GB File storage</li>
      <li class="subscribe">
        <%= signup_link class: "button small" %>
      </li>
    </ul>
  </div>

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Professional</li>
      <li class="price">$350 <small>/month</small>
      </li>
      <li class="description">Sufficient space for 1000+ titles with multiple downloadable digital products per title.</li>
      <li class="bullet-item">30GB File storage</li>
      <li class="subscribe">
        <%= signup_link class: "button small" %>
      </li>
    </ul>
  </div>

</div>

<p style="text-align:right; margin-right:1em;">
  <%= link_to 'For larger plans, please contact us for a quote →',
    '/contact', class: 'subdue-text' %>
</p>

<div class="row" style="margin:3em 0;">
  &nbsp;
</div>

<%= partial 'partials/faqs_link' %>
