---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        <%= partial 'partials/launch_lede' %>
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <p>
        Submit the following form to select a TitleLeaf
        <%= setup_link %> arrangement and a <%= pricing_link %> plan.
      </p>

      <form name="subscription" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_setup_plan" class="required">One-Time Setup Arrangement</label>
          <select id="contact_setup_plan" name="setup_plan" required="required">
            <option value="">-- Select --</option>
            <option value="tier-0"><%= data.config.setup_label_tier_0 %> (<%= data.config.setup_cost_tier_0 %>)</option>
            <option value="tier-1"><%= data.config.setup_label_tier_1 %> (<%= data.config.setup_cost_tier_1 %>)</option>
            <option value="tier-2"><%= data.config.setup_label_tier_2 %> (<%= data.config.setup_cost_tier_2 %>)</option>
            <option value="tier-3"><%= data.config.setup_label_tier_3 %> (<%= data.config.setup_cost_tier_3 %>)</option>
            <option value="tier-4"><%= data.config.setup_label_tier_4 %> (<%= data.config.setup_cost_tier_4 %>)</option>
            <option value="tier-5"><%= data.config.setup_label_tier_5 %> (<%= data.config.setup_cost_tier_5 %>)</option>
          </select>
        </div>

        <div class="field">
          <label for="contact_subscription_plan" class="required">Monthly Subscription Plan</label>
          <select id="contact_subscription_plan" name="subscription_plan" required="required">
            <option value="">-- Select --</option>
            <option value="15-gb">15 GB ($99/month)</option>
            <option value="30-gb">30 GB ($199/month)</option>
            <option value="60-gb">60 GB ($299/month)</option>
            <option value="100-gb">100 GB ($399/month)</option>
            <option value="200-gb">200 GB ($499/month)</option>
            <option value="300-gb">300 GB ($599/month)</option>
          </select>
        </div>

        <div class="field">
          <label for="contact_launch_date">Requested Launch Date</label>
          <select id="contact_launch_date" name="launch_date">
            <option value="">-- Optional --</option>
            <option value="january">January 1</option>
            <option value="february">February 1</option>
            <option value="march">March 1</option>
            <option value="april">April 1</option>
            <option value="may">May 1</option>
            <option value="june">June 1</option>
            <option value="july">July 1</option>
            <option value="august">August 1</option>
            <option value="september">September 1</option>
            <option value="october">October 1</option>
            <option value="november">November 1</option>
            <option value="december">December 1</option>
          </select>
        </div>

        <div class="actions">
          <button type="submit">Send request</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
  </div>
</section>
