---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Service</h1>
      <p>
        If your in-house team is overloaded, lean on the TitleLeaf team to maintain your site.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-service.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <p>
        Submit the following form to schedule a TitleLeaf
        <%= service_link name: "service plan" %>.
      </p>

      <form name="service" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_service_plan" class="required">Service Plan</label>
          <select id="contact_service_plan" name="service_plan" required="required">
            <option value="">-- Select --</option>
            <% [1, 2.5, 5, 7.5, 10, 15].each do |time| %>
              <option value="<%= pluralize(time, "hr").sub(/ /, "-") %>"><%= pluralize(time, "Hour") %> per month</option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label for="contact_service_term" class="required">Service Term</label>
          <select id="contact_service_term" name="service_term" required="required">
            <option value="">-- Select --</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly (Save <%= data.config.service_discount %>)</option>
          </select>
        </div>

        <div class="field">
          <label for="contact_start_date">Requested Start Date</label>
          <select id="contact_start_date" name="start_date">
            <option value="">-- Optional --</option>
            <option value="january">January 1</option>
            <option value="february">February 1</option>
            <option value="march">March 1</option>
            <option value="april">April 1</option>
            <option value="may">May 1</option>
            <option value="june">June 1</option>
            <option value="july">July 1</option>
            <option value="august">August 1</option>
            <option value="september">September 1</option>
            <option value="october">October 1</option>
            <option value="november">November 1</option>
            <option value="december">December 1</option>
          </select>
        </div>

        <div class="actions">
          <button type="submit">Send request</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
  </div>
</section>
