---
title: More Pricing
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        The following table lists the biggest TitleLeaf subscription plans
        currently offered. If your needs are more modest, please see our
        <%= link_to 'standard subscription plans', '/pricing' %>.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 60</li>
        <li class="price">$200 <small>/month</small></li>
        <li class="description">Sufficient space for 2500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">60GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 100</li>
        <li class="price">$250 <small>/month</small></li>
        <li class="description">Sufficient space for 3750+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">100GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 150</li>
        <li class="price">$300 <small>/month</small></li>
        <li class="description">Sufficient space for 5000+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">150GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin-top:0; margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 200</li>
        <li class="price">$350 <small>/month</small></li>
        <li class="description">Sufficient space for 7500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">200GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 250</li>
        <li class="price">$400 <small>/month</small></li>
        <li class="description">Sufficient space for 10000+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">250GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 300</li>
        <li class="price">$450 <small>/month</small></li>
        <li class="description">Sufficient space for 12500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">300GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:left;">
      <%= link_to 'â† Smaller plans', '/pricing', style: 'color:#999; font-size:82%;' %>
    </div>
  </div>

  <%= partial 'partials/add_ons' %>

  <div class="row">
    <div class="col-full">
      <h2>Frequently Asked Questions</h2>
      <p>See <%= link_to 'here', '/pricing' %>.</p>
    </div>
  </div>
</section>
