---
title: Pricing (Larger)
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online e-commerce business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        The following table lists the biggest TitleLeaf subscription plans
        currently offered. If your needs are more modest, please see our
        <%= pricing_link name: 'standard subscription plans' %>.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <%
      [
        { size: "100", price: "$399", products: "3750+ titles" },
        { size: "200", price: "$499", products: "7500+ titles" },
        { size: "300", price: "$599", products: "12500+ titles" },
      ].each do |plan|
    %>
      <%= partial 'partials/pricing', locals: plan %>
    <% end %>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:left;">
      <%= pricing_link name: 'â† Prefer Less Space?', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/add_ons' %>
  <%= partial 'partials/faqs_link' %>

</section>
