---
title: Pricing (Larger)
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        The following table lists the biggest TitleLeaf subscription plans
        currently offered. If your needs are more modest, please see our
        <%= link_to 'standard subscription plans', '/pricing' %>.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 100</li>
        <li class="price">$399 <small>/month</small></li>
        <li class="description">Sufficient space for 3750+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">100GB File storage</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 200</li>
        <li class="price">$499 <small>/month</small></li>
        <li class="description">Sufficient space for 7500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">200GB File storage</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Pro 300</li>
        <li class="price">$599 <small>/month</small></li>
        <li class="description">Sufficient space for 12500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">300GB File storage</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:left;">
      <%= link_to 'â† Smaller plans', '/pricing', class: 'subdue-text' %>
    </div>
  </div>

  <%= partial 'partials/add_ons' %>
  <%= partial 'partials/faqs_link' %>

</section>
