---
title: Pricing
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        TitleLeaf setup depends on the complexity of your online business and the degree of customization desired. Please contact us for a quote. The subscription plan is simpler to calculate, being based on the file storage needed. The following table lists the TitleLeaf subscription plans currently offered and the approximate amount of products it will accommodate. If, as your catalog expands, you exceed your allotted file storage, you will be notified before being upgraded (pro rata) to a larger plan.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Starter</li>
        <li class="price">$50 <small>/month</small></li>
        <li class="description">If you are not selling digital products and have less than 500 products, this is your best option.</li>
        <li class="bullet-item">5GB File storage</li>
        <li class="bullet-item">Basic search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact.html', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$100 <small>/month</small></li>
        <li class="description">Sufficient space for 500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">15GB File storage</li>
        <li class="bullet-item">Basic search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact.html', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Professional</li>
        <li class="price">$150 <small>/month</small></li>
        <li class="description">Sufficient space for 1000+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">30GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact.html', class: 'button small' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Larger plans →', '/more-pricing.html', style: 'color:#999; font-size:82%;' %>
    </div>
  </div>

  <div class="row">
    <div class="col-left" style="margin-top:2em;">
      <h4>Add-Ons</h4>
      <ul class="checked">
        <li>Complete server backup. Made once a week and retained for four weeks. Add 20% to monthly subscription cost.</li>
        <li>Export module. Pricing depends on base subscription plan.</li>
        <li>Export + Distribution module. Pricing depends on base subscription plan.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-full">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-left">
      <h4>Is there a setup fee?</h4>
      <p>Yes. The setup fee depends on the the degree of customization you desire in regards to the user interface and the backend functionality. Please <a href="/contact">contact us for a quote</a>.</p>

      <h4>What's included?</h4>
      <p>All subscription plans include: Unlimited products, 4TB bandwidth, blogging module, file download module, discount code module, import/export module, technical support, and <a href="/features">more</a>.</p>

      <h4>What does file storage signify?</h4>
      <p>File storage encompasses the disk space needed for products images, digital products, file downloads, and other files associated with your site.</p>

      <h4>Need a larger plan?</h4>
      <p>If your file storage needs exceed the <em>Professional</em> plan, please refer to our <a href="/more-pricing">larger plans</a>. We can also devise plans on a bespoke basis.</p>
    </div>

    <div class="col-right">
      <h4>Can I cancel my account at any time?</h4>
      <p>Yes. If you decide that TitleLeaf isn't the appropriate ecommerce platform for your business, simply cancel your account by contacting support.

      </p>
      <h4>How long are your contracts?</h4>
      <p>All subscription plans are month-to-month.</p>

      <h4>Can I change my plan in the future?</h4>
      <p>Yes. You can upgrade or downgrade your plan at any time.</p>

      <h4>Do I need a web host?</h4>
      <p>No. All subscription plans include secure ecommerce hosting for your online store.</p>

      <h4>Are there any hidden costs?</h4>
      <p>No. Everything needed to run your online store (such as domain registration and an SSL certificate) is provided under the TitleLeaf subscription plan. Keep in mind, however, that your merchant bank will impose a fee for credit card processing.</p>
    </div>
  </div>
</section>
