---
title: Pricing
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online e-commerce business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        TitleLeaf <%= setup_link %> depends on the complexity of your online business and the degree of customization desired. The subscription plan is simpler to calculate, being based on the file storage needed. The following table lists the standard TitleLeaf subscription plans currently offered and the approximate amount of products it will accommodate. If, as your catalog expands, you exceed your allotted file storage, you will be notified before being upgraded (pro rata) to a larger plan.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <%
      [
        { size: "15", price: "$99", products: "up to 500 titles" },
        { size: "30", price: "$199", products: "1000+ titles" },
        { size: "60", price: "$299", products: "2500+ titles" },
      ].each do |plan|
    %>
      <%= partial 'partials/pricing', locals: plan %>
    <% end %>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Need More Space? →', '/pricing-larger', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/add_ons' %>
  <%= partial 'partials/faqs' %>

</section>
