---
title: Pricing
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        To launch your online e-commerce business with TitleLeaf,
        you will need to select a one-time setup arrangement
        and a monthly subscription plan.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-pricing.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        TitleLeaf setup depends on the complexity of your online business and the degree of customization desired. Please contact us for a quote. The subscription plan is simpler to calculate, being based on the file storage needed. The following table lists the standard TitleLeaf subscription plans currently offered and the approximate amount of products it will accommodate. If, as your catalog expands, you exceed your allotted file storage, you will be notified before being upgraded (pro rata) to a larger plan.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Starter</li>
        <li class="price">$50 <small>/month</small></li>
        <li class="description">If you are not selling digital products and have less than 500 products, this is your best option.</li>
        <li class="bullet-item">5GB File storage</li>
        <li class="bullet-item">Basic search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$100 <small>/month</small></li>
        <li class="description">Sufficient space for 500+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">15GB File storage</li>
        <li class="bullet-item">Basic search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Professional</li>
        <li class="price">$150 <small>/month</small></li>
        <li class="description">Sufficient space for 1000+ titles with multiple downloadable digital products per title.</li>
        <li class="bullet-item">30GB File storage</li>
        <li class="bullet-item">Full-text search</li>
        <li class="subscribe">
          <%= link_to 'Sign Up', '/contact', class: 'button small' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Larger plans →', '/more-pricing', style: 'color:#999; font-size:82%;' %>
      <br />
      <%= link_to 'Custom plans →', '/custom-pricing', style: 'color:#999; font-size:82%;' %>
    </div>
  </div>

  <%= partial 'partials/add_ons' %>
  <%= partial 'partials/faqs' %>

</section>
