---
title: Service Level Agreements (Larger)
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Service</h1>
      <p>
        If your in-house team is overloaded, lean on the TitleLeaf team to maintain your site.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-service.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <p>
        The following table lists the biggest TitleLeaf service plans
        currently offered. If your needs are more modest, please see our
        <%= link_to 'standard service plans', '/service-level-agreements' %>.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">7.5 Hours</li>
        <li class="price">
          $1499
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>7.5 hours</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">2 scheduled calls per month (optional)</li>
        <li class="bullet-item">Initial ticket response time 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">10 Hours</li>
        <li class="price">
          $1999
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>10 hours</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">2 scheduled calls per month (optional)</li>
        <li class="bullet-item">Initial ticket response in 2 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">15 Hours</li>
        <li class="price">
          $2999
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>15 hours</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">2 scheduled calls per month (optional)</li>
        <li class="bullet-item">Initial ticket response in 2 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:left;">
      <%= link_to 'â† Prefer Less Time?', '/service-level-agreements', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/faqs_link-service' %>

</section>
