---
title: Service Level Agreements
layout: legal
---

<div class="row">
  <div class="col-full">
    <p>The TitleLeaf <%= link_to 'Terms of Service', '/terms-of-service' %> can be extended with an optional Service Level Agreement. The following table outlines the optional Service Level Agreements available for the current year.</p>
  </div>
</div>

<div class="row" style="margin-bottom:2em;">
  <div class="col-full">

    <h4>Basic Service</h4>
    <p>All TitleLeaf subscription plans include:</p>
    <ul class="checked">
      <li>Access to knowledge base</li>
      <li>Support via help desk</li>
      <li>Up to 1 hour support/training per month for the first year</li>
      <li>Scheduled development slots available on first-come, first-served basis; One slot is available per month; A slot cannot exceed 10 hours of development time</li>
    </ul>

    <h4 style="margin-top:2em;">Optional Extended Service</h4>
    <p>All retainers (Levels 1-3) described below include:</p>
    <ul class="checked">
      <li>Priority scheduling for feature requests</li>
      <li>Join.me web conference support/training</li>
      <li>Monthly activity report</li>
      <li>Daily database backup, retained for 1 month</li>
      <li>1 staging site</li>
    </ul>

  </div>
</div>

<div class="row">

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Level 1 Retainer</li>
      <li class="price">
        $1500
        <small>/month</small>
      </li>
      <li class="bullet-item">Guaranteed response time 3 business days</li>
      <li class="bullet-item">Up to 10 hours dev/service/training per month</li>
      <li class="bullet-item">1 scheduled call per month</li>
      <li class="bullet-item">1 bespoke feature deployment per month</li>
      <li class="bullet-item">250GB product-linked object storage (eg, layout archival)</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Level 2 Retainer</li>
      <li class="price">
        $3000
        <small>/month</small>
      </li>
      <li class="bullet-item">Guaranteed response time 2 business days</li>
      <li class="bullet-item">Up to 20 hours dev/service/training per month</li>
      <li class="bullet-item">2 scheduled calls per month</li>
      <li class="bullet-item">2 bespoke feature deployments per month</li>
      <li class="bullet-item">500GB product-linked object storage (eg, layout archival)</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

  <div class="item">
    <ul class="pricing-table">
      <li class="title">Level 3 Retainer</li>
      <li class="price">
        $4500
        <small>/month</small>
      </li>
      <li class="bullet-item">Guaranteed response time 1 business days</li>
      <li class="bullet-item">Up to 30 hours dev/service/training per month</li>
      <li class="bullet-item">3 scheduled calls per month</li>
      <li class="bullet-item">3 bespoke feature deployments per month</li>
      <li class="bullet-item">750GB product-linked object storage (eg, layout archival)</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

</div>

<div class="row" id="faqs">
  <div class="col-full">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-left">
    <h4>How much does the Basic Service cost?</h4>
    <p>The Basic Service is included with all <%= link_to 'TitleLeaf subscription plans', '/pricing' %>.</p>

    <h4>What is the Term of the Service Level Agreements?</h4>
    <p>All Service Level Agreements have a term of 1 year. Each specific agreement with a client will define the commencement date for the term.</p>

    <h4>What is the payment schedule?</h4>
    <p>An invoice will be emailed on the first of each month representing service for said month. Similar to subscriptions, the invoice is to be paid on receipt via credit card.</p>
  </div>

  <div class="col-right">
    <h4>Can the hours rollover?</h4>
    <p>No, if the maximum hour allotment is not achieved in a given month, the remaining hours do not rollover to the next month.</p>

    <h4>Are overages allowed?</h4>
    <p>No, if the maximum hour allotment is achieved in a given month, further work will be performed in the subsequent month.</p>

    <h4>Is the TitleLeaf Client Support team on call?</h4>
    <p>No, TitleLeaf support is not on call. They can be contacted asynchronously via the support site. SLA response times are calculated using a 9 AM to 5 PM workday in the Pacific Time Zone. Support/training meetings can be scheduled.</p>
  </div>
</div>
