---
title: Service Level Agreements
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Service</h1>
      <p>
        If your in-house team is overloaded, lean on the TitleLeaf team to maintain your site.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-service.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row" style="margin-bottom:0;">
    <div class="col-full">
      <p>During initial setup of your TitleLeaf site, your team will be provided instructions to edit product and custom pages. They will also have access to TitleLeaf's <%= guide_link name: "Guide" %> and <%= wiki_link name: "Support Articles" %>. In the event that you'd like further assistance from the TitleLeaf team, select a service plan from below, define the term, and we'll respond with the earliest commencement date.</p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">1 Hour</li>
        <li class="price">
          $199
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>1 hour</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">1 scheduled call per month (optional)</li>
        <li class="bullet-item">Initial ticket response in 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">2.5 Hours</li>
        <li class="price">
          $499
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>2.5 hours</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">1 scheduled call per month (optional)</li>
        <li class="bullet-item">Initial ticket response in 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">5 Hours</li>
        <li class="price">
          $999
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>5 hours</strong> of service per month</li>
        <li class="bullet-item">Access to the TitleLeaf Client Support Site</li>
        <li class="bullet-item">1 scheduled call per month (optional)</li>
        <li class="bullet-item">Initial ticket response in 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Need More Time? →', '/service-level-agreements-larger', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/faqs-service' %>

</section>
