---
title: Service Level Agreements
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Service</h1>
      <p>
        If your in-house team is overloaded, lean on the TitleLeaf team to maintain your site.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-service.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row" style="margin-bottom:0;">
    <div class="col-full">
      <p>During initial setup of your TitleLeaf site, your team will be provided instructions to edit product and custom pages. They will also have access to TitleLeaf's <%= guide_link name: "Guide" %> and <%= wiki_link name: "Support Articles" %>. In the event that you'd like further assistance from the TitleLeaf team, select a service plan from below, define the term, and we'll respond with the earliest commencement date.</p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">
    <div class="col-full">
      <p class="block-notice" style="text-align: center;">
        <%= partial '/partials/service_discount' %>
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <%
      [
        { time: "1", price: "$199", calls: "1", days: "3" },
        { time: "2.5", price: "$499", calls: "1", days: "3" },
        { time: "5", price: "$999", calls: "1", days: "3" },
      ].each do |plan|
    %>
      <%= partial 'partials/service', locals: plan %>
    <% end %>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Need More Time? →', '/service-larger', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/faqs-service' %>

</section>
