---
title: Service Level Agreements
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Service</h1>
      <p>
        If your in-house team is overloaded, lean on the TitleLeaf team to maintain your site.
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-service.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row" style="margin-bottom:0;">
    <div class="col-full">
      <p>The TitleLeaf <%= link_to 'Terms of Service', '/terms-of-service' %> can be extended with an optional Service Level Agreement. The following table outlines the optional Service Level Agreements available for the current year.</p>
    </div>
  </div>

  <div class="row" style="margin-top:0;">
    <div class="col-left">
      <h4 style="margin-top: 1em;">Basic Service</h4>
      <p>All TitleLeaf subscription plans include:</p>
      <ul class="checked">
        <li>Access to knowledge base</li>
        <li>Bug submission via help desk</li>
      </ul>
    </div>

    <div class="col-right">
      <h4 style="margin-top: 1em;">Optional Extended Service</h4>
      <p>All retainers described below include:</p>
      <ul class="checked">
        <li>Full support via help desk</li>
        <li>Priority scheduling for feature requests</li>
      </ul>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">2.5 Hours</li>
        <li class="price">
          $499
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>2.5 hours</strong> of service per month</li>
        <li class="bullet-item">1 scheduled call per month</li>
        <li class="bullet-item">1 feature deployment per month</li>
        <li class="bullet-item">Initial ticket response in 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">5 Hours</li>
        <li class="price">
          $999
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>5 hours</strong> of service per month</li>
        <li class="bullet-item">1 scheduled call per month</li>
        <li class="bullet-item">1 feature deployment per month</li>
        <li class="bullet-item">Initial ticket response in 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">7.5 Hours</li>
        <li class="price">
          $1499
          <small>/month</small>
        </li>
        <li class="bullet-item">Up to <strong>7.5 hours</strong> of service per month</li>
        <li class="bullet-item">1 scheduled calls per month</li>
        <li class="bullet-item">1 feature deployments per month</li>
        <li class="bullet-item">Initial ticket response time 3 business days</li>
        <li class="subscribe">
          <%= signup_link class: "button small" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Need More Time? →', '/service-level-agreements-larger', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/faqs' %>

</section>
