---
title: Setup
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <h1>Pricing</h1>
      <p>
        <%= partial 'partials/launch_lede' %>
      </p>
    </div>
    <div class="col-right" style="line-height: 0;">
      <%= image_tag 'splash-setup.png' %>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-full">
      <h2>One-Time Setup</h2>
      <p>
        TitleLeaf setup depends on the complexity of your online business and
        the degree of customization desired. The following table lists common
        TitleLeaf setup arrangements. Setup is complete once your site launches.
        Thereafter, your <%= pricing_link %> applies.
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom:0;">

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Quick-Launch</li>
        <li class="price"><%= data.config.setup_cost_tier_0 %></li>
        <li class="description">
          We apply your corporate identity to the default TitleLeaf theme
          directly. Adjustments can be made post-launch.
        </li>
        <li class="bullet-item">TitleLeaf Theme</li>
        <li class="bullet-item">Default Header/Footer</li>
        <li class="bullet-item">No Design Mockups</li>
        <li class="bullet-item">No Design Revisions</li>
        <li class="bullet-item">1-Week Process</li>
        <li class="subscribe">
          <%= buy_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Cost-Cutter</li>
        <li class="price"><%= data.config.setup_cost_tier_1 %></li>
        <li class="description">
          We apply your corporate identity to the default TitleLeaf theme
          directly and offer one round of revisions.
        </li>
        <li class="bullet-item">TitleLeaf Theme</li>
        <li class="bullet-item">Default Header/Footer</li>
        <li class="bullet-item">No Design Mockups</li>
        <li class="bullet-item">1 Design Revision</li>
        <li class="bullet-item">1-Month Process</li>
        <li class="subscribe">
          <%= buy_link class: "button small" %>
        </li>
      </ul>
    </div>

    <div class="item">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price"><%= data.config.setup_cost_tier_2 %></li>
        <li class="description">
          We apply your corporate identity to the default TitleLeaf theme
          directly and design a custom header and footer.
        </li>
        <li class="bullet-item">TitleLeaf Theme</li>
        <li class="bullet-item">Custom Header/Footer</li>
        <li class="bullet-item">No Design Mockups</li>
        <li class="bullet-item">2 Design Revisions</li>
        <li class="bullet-item">2-Month Process</li>
        <li class="subscribe">
          <%= buy_link class: "button small" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin:0;">
    <div class="col-full" style="text-align:right;">
      <%= link_to 'Need More Flexibility? →', '/setup-other', class: 'button secondary small' %>
    </div>
  </div>

  <%= partial 'partials/add_ons-setup' %>
  <%= partial 'partials/faqs-setup' %>

</section>
