---
title: Setup
layout: legal
---

<div class="row">
  <div class="col-full">
    <p>
      To get your online business running on TitleLeaf,
      you will need to select a one-time setup arrangement and
      <%= link_to 'a monthly subscription plan', '/pricing' %>.
      Setup depends on the complexity of your online business and the degree of
      customization desired. The following table lists the TitleLeaf setup arrangements.
    </p>
  </div>
</div>
<div class="row">

  <div class="item-alt">
    <ul class="pricing-table">
      <li class="title">Cost-Cutter</li>
      <li class="price">$4800</li>
      <li class="description">We apply your corporate identity to the default design, and you populate the database.</li>
      <li class="bullet-item"><span style="text-decoration:line-through; color:#bbb;">Design Realization</span>
</li>
      <li class="bullet-item">Design Implementation</li>
      <li class="bullet-item"><span style="text-decoration:line-through; color:#bbb;">Data Setup</span>
</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

  <div class="item-alt">
    <ul class="pricing-table">
      <li class="title">Self-Starter</li>
      <li class="price">$9600</li>
      <li class="description">You provide the design, we implement the design, and you populate the database.</li>
      <li class="bullet-item"><span style="text-decoration:line-through; color:#bbb;">Design Realization</span>
</li>
      <li class="bullet-item">Design Implementation</li>
      <li class="bullet-item"><span style="text-decoration:line-through; color:#bbb;">Data Setup</span>
</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

  <div class="item-alt">
    <ul class="pricing-table">
      <li class="title">Collaborative</li>
      <li class="price">$14400</li>
      <li class="description">You provide the design, we implement the design, and we populate the database.</li>
      <li class="bullet-item"><span style="text-decoration:line-through; color:#bbb;">Design Realization</span>
</li>
      <li class="bullet-item">Design Implementation</li>
      <li class="bullet-item">Data Setup</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

  <div class="item-alt">
    <ul class="pricing-table">
      <li class="title">Full-Service</li>
      <li class="price">$19200</li>
      <li class="description">We create a custom design, we implement the design, and we populate the database.</li>
      <li class="bullet-item">Design Realization</li>
      <li class="bullet-item">Design Implementation</li>
      <li class="bullet-item">Data Setup</li>
      <li class="subscribe">
        <%= link_to 'Buy Now', '/contact', class: 'button small' %>
      </li>
    </ul>
  </div>

</div>

<p style="margin-left:1em;">
  <span class="subdue-text">
    Custom setup plans are
    <%= link_to 'available upon request', '/contact' %>
    to accommodate any range of collaboration.
  </span>
  <br />
  <span class="subdue-text">
    Special setup pricing is available to organizations with
    less than 5 full-time employees.
  </span>
</p>

<div class="row" style="margin:3em 0;">
&nbsp;
</div>

<div class="row" id="faqs">
  <div class="col-full">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="row">
  <div class="col-left">

    <h4>What does Design Realization encompass?</h4>
    <p>Design realization equates to the creation of the design template in an Adobe-PhotoShop-compatible format and the transformation of that design into representative HTML/CSS/JS files. Depending on the complexity, the design encompasses approximately 5 layouts.</p>

    <h4>What does Design Implementation encompass?</h4>
    <p>Design implementation is the process of applying the HTML/CSS/JS design template files (created in the Design Realization phase) to each page within the TitleLeaf public-facing site.</p>

    <h4>In what format do I provide the design?</h4>
    <p>For either the <em>Self-Starter</em> or <em>Collaborative</em> package, you'll provide the design of a minimum of four pages: 1) Home page, 2) List page, 3) Set page, 4) Title page. Design files must be communicated in layered PhotoShop files and HTML/CSS/JS files.</p>

    <h4>What's the custom theme design process?</h4>
    <p>Based on materials and directions that you provide, we will first deliver an initial design in JPG format. A maximum of 3 design iterations are available if the initial design is not accepted. Upon you accepting the design, we will then convert to HTML/CSS/JS and implement in the TitleLeaf application.</p>

  </div>

  <div class="col-right">

    <h4>Is technical support included?</h4>
    <p>
      Up to one hour of technical support via email is included with any monthly
      subscription plan for the first year of the plan.  A
      <%= link_to 'guide', '/guide' %>
      is also available for self-learners.
    </p>

    <h4>Can I request design changes after launch?</h4>
    <p>
      Yes. Adjustments can be made to the design after launch by
      <%= link_to 'scheduling the work', '/guides/knowledge-base/can-i-request-site-changes' %>
      with the development team. Our current hourly rate for "front-end" design work is $150.
    </p>

    <h4>Can I request data assistance in the future?</h4>
    <p>Yes. Beyond technical support, our team does provide data management assistance and training at an hourly rate of $150.</p>

    <h4>What's the data setup process?</h4>
    <p>You deliver the data in any format available. We will enter this data into the templates and import into TitleLeaf. From there, both of us can test/verify the data before launching the live site.</p>

    <h4>After setup, do you maintain the data?</h4>
    <p>No, it is your responsibility to maintain the data after the initial setup. TitleLeaf has a thorough administrative interface that allows you to adjust the content on an ongoing basis.</p>

  </div>
</div>
